@page "/about"

@inherits AboutModel

<h1>@Resources["About"]</h1>

<p>
    <span>@Resources["This site is an open source project build with"]</span>
    <a href="https://blazor.net" target="_blank">blazor.net</a>
    <span>@Resources["and"]</span>
    <a href="https://aws.amazon.com/amplify/" target="_blank">AWS Amplify</a> @Resources["erstellt wurde"]
</p>
<p>
    <span>@Resources["The source is code is published on "]</span>
    <a href="https://github.com/aguacongas/football-championship" target="_blank">Git Hub</a> @Resources["veröffentlicht wird"]
</p>
