@page "/{id}/{stage}"

@inherits CompetitionModel

@if (Competition != null)
{
    <h1>@Competition.LocalizedNames.GetLocalizedValue()</h1>
}
@if (MatchGroup == null)
{
    <p><em>@Resources["Loading..."]</em></p>
}
else
{
    <div class="match-list">
        @foreach (var group in MatchGroup)
        {
            <div id="@string.Format("day{0}", group.Key.ToAwsDate())">
                <h3>@group.Key.ToLongDateString()</h3>
                <hr />
                @foreach (var match in group)
                {
                    <EditForm Model="@match.Bet" OnValidSubmit="@(async () => await SaveBet(match.Bet))">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="row">
                            <div class="col-4">
                                <div><b>@match.BeginAtLocal.ToShortTimeString()</b></div>
                                <div class="small"><em>@match.LocalizedNames.GetLocalizedValue()</em></div>
                                <div class="small">@match.Group.GetLocalizedValue()</div>
                                <div>
                                    <span class="small">@match.Number</span>
                                    @if (CanBet(match))
                                    {
                                        <button class="btn btn-primary" type="submit" disabled="@(!match.Bet.ValueChanged)">
                                            <i class="far fa-save"></i>
                                        </button>
                                        <span class="oi@(match.Bet.Saved ? " oi-check" : "")"></span>
                                    }
                                    else if (match.Bet.HomeValue.HasValue && match.Scores != null)
                                    {
                                        var points = match.Scores.ComputeResult(match.Bet.HomeValue.Value, match.Bet.AwayValue.Value);
                                        <b>@points</b>
                                        @if (points > 1)
                                        {
                                            <span class="text-lowercase">@Resources["Points"]</span>
                                        }
                                        else
                                        {
                                            <span class="text-lowercase">@Resources["Point"]</span>
                                        }
                                    }
                                    @if (match.IsFinished.HasValue && match.IsFinished.Value)
                                    {
                                        <div class="small"><em>@Resources["Finished"]</em></div>
                                    }
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row justify-content-end">
                                            <div class="col">
                                                @if (GetTeamUrl(match, true) != null)
                                                {
                                                    <img class="flag" src="@GetTeamUrl(match, true)" />
                                                }
                                                <b>@GetTeamName(match, true)</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row justify-content-start">
                                            <div class="col">
                                                @if (GetTeamUrl(match, false) != null)
                                                {
                                                    <img class="flag" src="@GetTeamUrl(match, false)" />
                                                }
                                                <b>@GetTeamName(match, false)</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        @if (CanBet(match))
                                        {
                                            <InputNumber Class="bet form-control" bind-Value="@match.Bet.HomeValue" ParsingErrorMessage="@GetErrorMessage(match, true)" />
                                        }
                                        else
                                        {
                                            <b><em>@match.Scores?.First(s => s.IsHome)?.Value</em></b>
                                            <div class="small">
                                                @match.Bet.HomeValue
                                            </div>
                                        }
                                    </div>
                                    <div class="col">
                                        @if (CanBet(match))
                                        {
                                            <InputNumber Class="bet form-control" bind-Value="@match.Bet.AwayValue" ParsingErrorMessage="@GetErrorMessage(match, true)" />
                                        }
                                        else
                                        {
                                            <b><em>@match.Scores?.First(s => !s.IsHome)?.Value</em></b>
                                            <div class="small">
                                                @match.Bet.AwayValue
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                }
            </div>
        }
    </div>
}
