@page "/"

@inherits IndexModel

<Rules/>

<h1>@Resources["Competition"]</h1>

@if (CompetitionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Resources["Title"]</th>
                <th>@Resources["From"]</th>
                <th>@Resources["To"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in CompetitionList)
            {
                <tr>
                    <td><a href="@NavigationManager.ToAbsoluteUri(competition.Id)">@competition.LocalizedNames.GetLocalizedValue()</a></td>
                    <td>@competition.From.Date.ToLongDateString()</td>
                    <td>@competition.To.Date.ToLongDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}
