@inherits LoginModel

<div class="fc-login">
    @if (AwsHelper.IsConnected)
    {
        <div class="fc-login-gretting-text">@string.Format(GreetingTemplate, AwsHelper.UserName)</div>
        <button class="btn btn-primary" @onclick="@(async () => await AwsJsInterop.SignOutAsync())">@LogoutText</button>
    }
    else if (ProviderList != null && ProviderList.Any())
    {
        foreach (var provider in ProviderList)
        {
            <LoginButton Provider="@provider.Name" Text="@provider.LoginText" IconUrl="@provider.IconUrl" />
        }
    }
    else
    {
        <LoginButton Text="@LoginText" />
    }
</div>