@inherits MainLayoutModel

@if (AwsHelper.Initialized)
{
    @if (AwsHelper.IsConnected)
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <div class="ml-md-auto">
                    <LoginHeader LogoutText="@Resources["Logout"]" GreetingTemplate="{0}" />
                </div>
                <LangMenu />
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    }
    else
    {
        <div class="sidebar">
            <div class="top-row pl-4 navbar navbar-light">
                <a class="navbar-brand" href="">Football Championship</a>
            </div>
        </div>

        <div class="main">
            <div class="top-row px-4">
                <div class="ml-md-auto">
                    <LangMenu />
                </div>
            </div>

            <div class="content px-4">
                <Login ProviderList="@ProviderList" LogoutText="@Resources["Logout"]" GreetingTemplate="@Resources["Hello {0}!"]" />
            </div>
        </div>

    }
}
else
{
    <div class="sidebar">
        <div class="top-row pl-4 navbar navbar-light">
            <a class="navbar-brand" href="">Football Championship</a>
        </div>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <div class="ml-md-auto">
                <LangMenu />
            </div>
        </div>

        <div class="content px-4">
            <div>@Resources["Loading..."]</div>
        </div>
    </div>
}