@inherits NavMenuModel

<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand" href="">Football Championship</a>
    <LangMenu />
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (CompetitionList != null)
        {
            @foreach (var competition in CompetitionList)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@competition.Id" Match="NavLinkMatch.All">
                        <span class="oi oi-globe" aria-hidden="true"></span> @competition.LocalizedNames.GetLocalizedValue()
                    </NavLink>
                    <NavLink class="nav-link sub-nav-link" href="@string.Format("{0}/rank", competition.Id)" Match="NavLinkMatch.All">
                        <span class="oi oi-resize-height" aria-hidden="true"></span> @Resources["Ranking"]
                    </NavLink>
                </li>
            }
        }
        @if (AwsHelper.User != null && AwsHelper.User.IsAdmin())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-key" aria-hidden="true"></span> Admin
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi" aria-hidden="true"></span> @Resources["About"]
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="" @onclick="@(async () => await AwsJsInterop.SignOutAsync())">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </a>
        </li>
    </ul>
</div>
