@inherits RulesModel

    <div>
        @Resources["Prognosis for butter."]
        <p>
            @Resources["If you find the match score you win"]
            <b>@Resources["3 points"]</b>.
        </p>
        <p>
            @Resources["If you find the winner of the match you win"]
            <b>@Resources["1 point"]</b>.
        </p>
        <p>
            @Resources["You can predict until kick-off. Shootout sessions are not counted."]
        </p>
        <p>
            @Resources["1st wins"]
            <b>@Resources["all my esteem"]</b>.
        </p>
    </div>